{% set placeholder_map = {
'application': h.url_for_static('/base/images/placeholder-application.png')
} %}
{% set tooltip = _('Go to {related_item_type}').format(related_item_type=related.type|replace('_', ' ')|title) %}
<div class="related-item media-item col-md-4" data-module="related-item">
  <img src="{{ related.image_url or placeholder_map[related.type] or h.url_for_static('/base/images/placeholder-image.png') }}" alt="{{ related.title }}" class="img-responsive thumbnail">
  <h3 class="media-heading">{{ related.title }}</h3>
  {% if related.description %}
    <div class="prose">{{ h.render_markdown(related.description) }}</div>
  {% endif %}
  <a class="media-view" href="{{ related.url }}" target="_blank" title="{{ tooltip }}">
    <span>{{ tooltip }}</span>
    <span class="banner">
      {%- if related.type == 'application' -%}
        app
      {%- elif related.type == 'visualization' -%}
        viz
      {%- else -%}
        {{ related.type | replace('news_', '') }}
      {%- endif -%}
    </span>
  </a>
  {% if pkg_id %}
    {{ h.nav_link(_('Edit'), controller='related', action='edit', id=pkg_id, related_id=related.id, class_='btn btn-primary btn-small media-edit mrgn-lft-sm') }}
  {% endif %}
</div>
{% if position is divisibleby 3 %}
  <div class="col-md-12 clearfix mrgn-tp-md"></div>
{% endif %}
