{% ckan_extends %}

{% block themes %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="{{ h.url_for_static('/css/ottawa.css') }}" />
{% endblock %}

{% block links %}
    {{super()}}
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="{{ h.url_for_static('/img/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link href="{{ h.url_for_static('/img/favicon.ico') }}" rel="shortcut icon"/>
    <![endif]-->
{% endblock %}
