{% ckan_extends %}

{% block themes %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="{{ h.url_for_static('/css/ottawa.css') }}" />
<script src="//use.edgefonts.net/source-sans-pro.js"></script>
{% endblock %}

{% block links %}
  {{ super() }}
  {% resource 'ottawa/js/dropdown.js' %}
{% endblock %}

{% block favicon %}
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="{{ h.url_for_static('/img/favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link href="{{ h.url_for_static('/img/favicon.ico') }}" rel="shortcut icon"/>
    <![endif]-->
{% endblock %}
