
{% block footer_content %}
<footer role="contentinfo" id="wb-info wb-foot" class="visible-sm visible-md visible-lg wb-navcurr">
    {% if h.lang() == 'fr' %}
    <div class="container">

        <nav role="navigation" class="row">
            <section class="col-sm-4">
                <div class="boxes-box-content">
                    <div class="logo">
                        <img src="{{ h.url_for_static('/img/footer-ottawalogo.png') }}" class="mrgn-bttm-md" alt="Ottawa Logo" width="107" height="47">
                        <p>© 2001-2015 Ville d'Ottawa</p>
                        <p>110, avenue Laurier Ouest <br> Ottawa, Ontario, K1P 1J1</p>
                    </div>
                </div>
            </section>
            <section class="col-sm-4">
                <div class="call mrgn-tp-xl">
                    <p>Composez le <strong>3-1-1 </strong>ou visitez le <a href="http://ottawa.ca/fr/hotel-de-ville/votre-administration-municipale/nous-joindre/centres-du-service-la-clientele">centre du service à la clientèle</a><br>le plus près de chez vous pour un service en plus de 170 langues</p>
                </div>
            </section>
            <section class="col-sm-3 mrgn-tp-lg col-sm-push-1">
                <div class="span-2">
                    <div id="block-boxes-city-of-ottawa-footer-right" class="block block-boxes block-boxes-wetkit_box no-title odd last block-count-5 block-region-footer block-city-of-ottawa-footer-right">
                        <div id="boxes-box-city_of_ottawa_footer_right" class="boxes-box"><div class="boxes-box-content">
                            <div class="social">
                                <a href="https://twitter.com/ottawaville">
                                    <img src="http://ottawa.ca/sites/all/themes/cityott_adaptivetheme/images/twitter.png" alt="Twitter" width="30" height="24">
                                </a>
                                <a href="https://www.facebook.com/villedottawa">
                                    <img src="http://ottawa.ca/sites/default/files/facebook_logo_0.png" alt="facebook" width="24" height="24">
                                </a>
                                <a href="http://www.youtube.com/user/cityottawa">
                                    <img src="http://ottawa.ca/sites/default/files/youtube.png" alt="Youtube" width="24" height="24" class="image-actual">
                                </a>
                                <a href="http://instagram.com/villedottawa">
                                    <img src="http://ottawa.ca/sites/default/files/instagram_logo.png" alt="Instagram icon" width="24" height="24">
                                </a>
                                <a href="http://www.flickr.com/photos/cityofottawa">
                                    <img src="http://ottawa.ca/sites/all/themes/cityott_adaptivetheme/images/flickr.png" alt="Flickr" width="24" height="24">
                                </a>
                                <a href="http://ottawa.ca/fr/flux-rss">
                                    <img src="http://ottawa.ca/sites/all/themes/cityott_adaptivetheme/images/sub.png" alt="Subscription" width="25" height="24">
                                </a>
                                <p><a href="http://ottawa.ca/fr/node/297238">Accès aux réseaux sociaux de la Ville </a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </nav>
            <div class="row clear">
                <div id="base-fullft-in" class="col-md-push-4 col-md-4">
                    <ul class="links list-inline list-unstyled" style="font-size: 13px;">
                        <li class="menu-760 first">
                            <a href="http://ottawa.ca/fr/hotel-de-ville/responsabilisation-et-transparence/avertissement" title="">Avertissement</a>
                        </li>
                        <li class="menu-762">
                            <a href="http://ottawa.ca/fr/hotel-de-ville/responsabilisation-et-transparence/confidentialite" title="">Confidentialité</a>
                        </li>
                        <li class="menu-766">
                            <a href="http://ottawa.ca/fr/hotel-de-ville/votre-administration-municipale/politiques-et-administration/politique-sur" title="">Accessibilité</a>
                        </li>
                        <li class="menu-768 last">
                            <a href="http://ottawa.ca/fr/hotel-de-ville/services-accessibles/plan-daccessibilite-municipal-et-politiques/accessibilite" title="">Browse Aloud</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    {% else %}
    <div class="container">

        <nav role="navigation" class="row">
            <section class="col-sm-4">
                <div class="boxes-box-content">
                    <div class="logo">
                        <img src="{{ h.url_for_static('/img/footer-ottawalogo.png') }}" class="mrgn-bttm-md" alt="Ottawa Logo" width="107" height="47">
                        <p>© 2001-2014 City of Ottawa</p>
                        <p>110 Laurier Avenue West <br> Ottawa, Ontario, K1P 1J1</p>
                    </div>
                </div>
            </section>
            <section class="col-sm-4">
                <div class="call mrgn-tp-xl">
                    <p>Call <strong>3-1-1 </strong>or visit your local <a href="/en/city-hall/your-city-government/contact-city-ottawa/client-service-centres">Client Service Centre</a> <br>for service in more than 170 languages</p>
                </div>
            </section>
            <section class="col-sm-3 mrgn-tp-lg col-sm-push-1">
                <div class="span-2">
                    <div id="block-boxes-city-of-ottawa-footer-right" class="block block-boxes block-boxes-wetkit_box no-title odd last block-count-5 block-region-footer block-city-of-ottawa-footer-right">
                        <div id="boxes-box-city_of_ottawa_footer_right" class="boxes-box"><div class="boxes-box-content">
                            <div class="social">
                                <a href="https://twitter.com/ottawacity">
                                    <img src="http://ottawa.ca/sites/all/themes/cityott_adaptivetheme/images/twitter.png" alt="Twitter" width="30" height="24">
                                </a>
                                <a href="https://www.facebook.com/cityofottawa">
                                    <img src="http://ottawa.ca/sites/default/files/facebook_logo_0.png" alt="facebook" width="24" height="24">
                                </a>
                                <a href="http://www.youtube.com/user/cityottawa">
                                    <img src="http://ottawa.ca/sites/default/files/youtube.png" alt="Youtube" width="24" height="24" class="image-actual">
                                </a>
                                <a href="http://instagram.com/cityofottawa">
                                    <img src="http://ottawa.ca/sites/default/files/instagram_logo.png" alt="Instagram icon" width="24" height="24">
                                </a>
                                <a href="http://www.flickr.com/photos/cityofottawa">
                                    <img src="http://ottawa.ca/sites/all/themes/cityott_adaptivetheme/images/flickr.png" alt="Flickr" width="24" height="24">
                                </a>
                                <a href="http://ottawa.ca/en/rss-feeds">
                                    <img src="http://ottawa.ca/sites/all/themes/cityott_adaptivetheme/images/sub.png" alt="Subscription" width="25" height="24">
                                </a>
                            <p><a href="http://ottawa.ca/en/node/297237">Access the city’s social media streams</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
        <div class="row clear">
            <div id="base-fullft-in" class="col-md-push-4 col-md-4">
                <ul class="links list-inline list-unstyled">
                    <li class="menu-760 first">
                        <a href="http://ottawa.ca/en/city-hall/accountability-and-transparency/disclaimer" title="">Disclaimer</a>
                    </li>
                    <li class="menu-762">
                        <a href="http://ottawa.ca/en/city-hall/accountability-and-transparency/privacy-statement" title="">Privacy</a>
                    </li>
                    <li class="menu-766">
                        <a href="http://ottawa.ca/en/city-hall/your-city-government/policies-and-administrative-structure/accessibility-policy" title="">Accessibility</a>
                    </li>
                    <li class="menu-768 last">
                        <a href="http://ottawa.ca/en/city-hall/accessibility-services/municipal-accessibility-plan-and-policies/accessibility-browsealoud" title="">Browse Aloud</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}


    {% block footer_debug %}
    {% if g.debug %}
    {% include 'snippets/debug.html' %}
    {% endif %}
    {% endblock %}
</footer>

{% endblock %}
