{% ckan_extends %}

{%- block pre_top_nav -%}
    {% if h.lang() == 'fr' %}
        <a href="http://ottawa.ca/fr"><img src="/img/ottawalogo.png" alt="Ville d'Ottawa" style="height:30px"/></a>
    {% else %}
        <a href="http://ottawa.ca"><img src="/img/ottawalogo.png" alt="City of Ottawa" style="height:30px"/></a>
    {% endif %}
{%- endblock -%}

{% block header_account_logged %}
<li>
    <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='') }}" title="{{ _('Pages') }}">
        <i class="icon-file"></i>
    </a>
</li>
{{ super() }}
{% endblock %}
