{% ckan_extends %}

{% block wet_banner_bar %}
<div class="container">
    <div class="row">
        <section id="wb-lng" class="visible-md visible-lg">
            <h2>Language selection</h2>
            <ul class="text-right">
                {% set current_url = request.environ.CKAN_CURRENT_URL %}
                {% if h.lang() == 'fr' %}
                <li><a lang="en" hreflang="en" href="{% url_for current_url, locale='en' %}">English</a></li>
                <li class="curr">Français&#32;<span>(actuel)</span></li>
                {% else %}
                <li><a lang="fr" hreflang="fr" href="{% url_for current_url, locale='fr' %}">Français</a></li>
                <li class="curr">English&#32;<span>(current)</span></li>
                {% endif %}
            </ul>
        </section>
        <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn"><h2>Menu</h2>
            <ul class="pnl-btn list-inline text-right">
                <li><a href="#mb-pnl" title="Menu" aria-controls="mb-pnl" class="overlay-lnk btn btn-xs btn-default"
                    role="button"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Menu</span></span></a>
                </li>
            </ul>
            <div id="mb-pnl"></div>
        </section>
    </div>
</div>
{% endblock %}
