{% ckan_extends %}

{% block wet_banner_bar %}
    {% include 'header.html' %}
{% endblock %}

{% block wet_megamenu %}
<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
    <div class="container nvbar"><h2>Site menu</h2>

        <div class="row">
            <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
              {{ super() }}
            {% endblock %}
          </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block wet_search_box %}
<div id="wb-sttl" class="col-md-7">
    {% block site_title %}
        <h1 style="margin:0;">
        {% if h.lang() == 'fr' %}
            <a href="/fr/"> <img src="/img/open_data_logo_fr.png" width="240" height="45" style="margin: 20px 0 20px 0;" alt="City of Ottawa"> </a>
        {% else %}
            <a href="/"> <img src="/img/open_data_logo_en.png" width="160" height="45" style="margin: 20px 0 20px 0;" alt="City of Ottawa"> </a>
        {% endif %}
        </h1>
    {% endblock %}
</div>

<section id="wb-srch" class="col-md-5 visible-md visible-lg"><h2>{{ _("Search") }}</h2>
    <form method="get" action="{% url_for controller='package', action='search' %}" role="search" class="form-inline">
        <div class="form-group"><label for="wb-srch-q">{{ _("Search Your Data") }}</label>
            <input id="wb-srch-q" class="form-control" name="q" type="search" value="" size="27" maxlength="150"/>
        </div>
        <button type="submit" id="wb-srch-sub" class="btn btn-default">{{ _("Search") }}</button>
    </form>
</section>
{% endblock %}

{% block content %}
  <div class="container" id="wb-cont">
    <div class="row">

    {% block secondary %}
      <div class="col-md-3 col-md-push-9" >
      {% block secondary_content %}
      {% endblock %}
      </div>
    {% endblock secondary %}

    {% block pre_primary %}{% endblock %}
    {% block primary %}
    <div class="col-md-9 col-md-pull-3 main-content">
    <main role="main" property="mainContentOfPage">

      {% block flash %}
      {% if flash_messages %}
      <div class="row">
        {% for message in flash_messages %}
        <div class="alert fade in {{ message.category }}">
          {{ h.literal(message) }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endblock flash %}

      {% block page_title %}
      <div class="row">
        <div class="col-md-12">
        <h2 class="h3">{% block subtitle %}{% endblock %}</h2>
        </div>
      </div>
      {% endblock %}

      {% block primary_content %}
      <div class="row">
          <ul class="nav nav-tabs">
              {% block content_primary_nav %}{% endblock %}
          </ul>
          <div class="col-md-12">
              {% if self.page_primary_action() | trim %}
                <div class="page_primary_action">
                {% block page_primary_action %}{% endblock %}
                </div>
              {% endif %}
              {% block primary_content_inner %}{% endblock %}
          </div>
      </div>
      {% endblock primary_content %}

    </main>
    </div>
    {% endblock primary %}

    </div>
  </div>
{% endblock content %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
