{% set current_url = h.full_current_url() %}
{% block social %}
  <div class="panel panel-info social">
    {% block social_title %}
    <div class="panel-heading">
      <h3 class="panel-title"><i class="icon-medium icon-share"></i> {{ _('Social') }}</h3>
    </div>
    {% endblock %}
    {% block social_nav %}
    <div class="panel-body">
      <ul class="nav nav-simple">
        <li class="nav-item"><a href="https://plus.google.com/share?url={{ current_url }}" target="_blank"><i class="icon-google-plus-sign"></i> Google+</a></li>
        <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="icon-twitter-sign"></i> Twitter</a></li>
        <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="icon-facebook-sign"></i> Facebook</a></li>
      </ul>
    </div>
    {% endblock %}
  </div>
{% endblock %}
