{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
{% block item %}

{% if loop_items == 3 %}
    {% set cls = 'col-sm-6 col-md-4'%}
{% elif loop_items == 4 %}
    {% set cls = 'col-sm-4 col-md-3'%}
{% elif loop_items == 2 %}
    {% set cls = 'col-sm-6'%}
{% endif %}

<div class="{{  cls  }}">
    <figure class="thumbnail" style="text-align:center; border:none;">
        {% block item_inner %}
            {% block image %}
                <a href="{{ url }}"><img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" class="media-image"></a>
            {% endblock %}

            {% block title %}
                <a href="{{ url }}" class="media-heading">
                    {% if h.lang() == 'fr' and group['title_fr'] %}
                        {{ group['title_fr'] }}
                    {% else %}
                        {{ group.display_name }}
                    {% endif %}
                </a>
            {% endblock %}
            <br/>
            {% block datasets %}
                {% if group.packages %}
                <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', group.packages).format(num=group.packages) }}</strong>
                {% elif group.packages == 0 %}
                <span class="count">{{ _('0 Datasets') }}</span>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </figure>
</div>
{% endblock %}
{% if position is divisibleby loop_items %}
<div class="col-sm-12">
    <br/>
</div>
{% endif %}
