<p>
    <div class="panel panel-info">
        <header class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-question-circle"></span> {{ _('What are Groups?') }}</h3>
        </header>
        <div class="panel-body">
            {% trans %}
            Groups are collections of datasets under a community (for
            example, Civil Liberty data) or topic (e.g. Transport, Health,
            Environment) to make it easier for users to browse datasets by theme.
            A Datasets can be a part of multiple groups.
            {% endtrans %}
        </div>
    </div>
</p>
