{% ckan_extends %}

{% block actions_content %}
  <div class="col-md-12">
    <div class="btn-group">
       {% if h.check_access('package_update', {'id':pkg.id }) %}
          {% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-default' %}
          {{ h.follow_button('dataset', pkg.id) }}
          {% link_for _('History'), controller='package', action='history', id=pkg.name, class_='btn btn-default' %}
        {% endif %}
    </div>
  </div>
{% endblock %}

{% block package_item_title %}
    {% if pkg.private %}
    <div class="col-md-12">
      <p class="text-left">L
      <span class="fa fa-lock"></span> {{ _('Private') }}
      </p>
    </div>
    {% endif %}
    <div class="col-md-12">
        {% if pkg.state.startswith('draft') %}
          <span class="text-info">[{{ _('Draft') }}]</span>
        {% endif %}
    </div>
{% endblock %}
