{% ckan_extends %}

{% block actions_content %}
  <div class="col-md-12">
    <div class="btn-group" style="margin-bottom:0.6rem;">
       {% if h.check_access('package_update', {'id':pkg.id }) %}
          {% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-default' %}
          {{ h.follow_button('dataset', pkg.id) }}
          {% link_for _('History'), controller='package', action='history', id=pkg.name, class_='btn btn-default' %}
        {% endif %}
    </div>
  </div>
{% endblock %}

{% block package_item_notes %}
    {% set view = h.get_canonical_resource_view(pkg.id) %}
    {% if view %}
        {% snippet 'package/snippets/resource_view.html',
            resource_view = view['resource_view'],
            resource = view['resource'],
            package = pkg
        %}
    {% endif %}

    {{ super() }}
{% endblock %}

{% block package_item_title %}
    {% if pkg.private %}
    <div class="col-md-12">
      <p class="text-left">L
      <span class="fa fa-lock"></span> {{ _('Private') }}
      </p>
    </div>
    {% endif %}
    <div class="col-md-12">
        {% if pkg.state.startswith('draft') %}
          <span class="text-info">[{{ _('Draft') }}]</span>
        {% endif %}
    </div>
{% endblock %}

{% block developer_tools %}
    {% if h.lang() == 'fr' %}
    <div class="col-md-12">
      <h4>Outils pour développeur</h4>
        <ul class="list-unstyled">
          <li class="mrgn-bttm-md">L’information sur cette page (les métadonnées de publication) est également disponible <br/>
          <a href="{{h.url_for_static('/', qualified=true)}}api/action/package_show?id={{pkg.id}}">en format JSON</a></li>
        </ul>
    </div>
    {% else %}
    <div class="col-md-12">
      <h4>{{ _('Developer Tools') }}</h4>
        <ul class="list-unstyled">
          <li class="mrgn-bttm-md">{{ _('The information on this page (the publication metadata) is also available in JSON format') }} <br/>
          <a href="{{h.url_for_static('/', qualified=true)}}api/action/package_show?id={{pkg.id}}">{{ _('Link to JSON format') }}</a></li>
        </ul>
    </div>
    {% endif %}
{% endblock developer_tools %}
