{% extends "page.html" %}

{% block content %}
  <div class="container" id="wb-cont">
    <div class="row" style="margin-right:0;">
      <div class=" main-content col-md-9">
          <main role="main" property="mainContentOfPage">

          {% block flash %}
          {% if flash_messages %}
          <div class="row">
            {% for message in flash_messages %}
            <div class="alert fade in {{ message.category }}">
              {{ h.literal(message) }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
          {% endblock flash %}

          <div class="row">
              {% if h.lang() == 'fr' %}
              <div class="col-md-12">
                  <h2 class="h3">Bienvenue dans le catalogue Données ouvertes de la Ville d’Ottawa</h2>

                  <p>
                      Ce site Web est une source pour les données publiées par la Ville d’Ottawa, pour un usage gratuit par
                      le public. Voici certaines choses que vous pourriez faire pour commencer :
                  </p>

                  <ul>
                      <li><a href="/fr/dataset">Chercher</a> les données dont vous avez besoin.</li>
                      <li>Chercher par <a href="/fr/group">catégories</a> ou <a href="/fr/organization">services.</a></li>
                      <li>Explorer <a href="/fr/apihelper">l’API.</a></li>
                      <li>Lisez la <a href="https://ottawa.ca/fr/applications-pour-appareils-mobiles-et-donnees-ouvertes/version-20-de-la-licence-du-programme-de">Version 2.0 de la licence du programme de données ouvertes</a> de la Ville d’Ottawa.</li>
                      <li>Faites-nous <a href="http://ottawa.ca/fr/node/315072">parvenir vos commentaires et vos suggestions</a> pour le site Données ouvertes Ottawa.</li>
                  </ul>
              </div>
              {% else %}
              <div class="col-md-12">
                  <h2 class="h3">Welcome to Ottawa's Open Data Catalogue</h2>

                  <p>
                      This website is a source of data released by the City of Ottawa
                      for free use by the public. Here are some of the things you
                      can do to get started:
                  </p>

                  <ul>
                      <li><a href="/dataset">Search</a> for the data you need</li>
                      <li>Browse by <a href="/group">categories</a> or <a href="/organization">departments</a></li>
                      <li>Explore the <a href="/apihelper">API</a></li>
                      <li>Read the City of Ottawa <a href="http://ottawa.ca/en/mobile-apps-and-open-data/open-data-licence-version-20">Open Data Licence Version 2.0</a></li>
                      <li>Please give us <a href="http://ottawa.ca/en/node/315072">your feedback</a> and what you'd like to see added to Open Data Ottawa.</li>
                  </ul>
              </div>
              {% endif %}
          </div>

          <div class="row">
              <h3 style="text-align: center;">
                  {% if h.lang() == 'fr' %}
                    Jeux de données présentés
                  {% else %}
                    {{_('Featured Datasets')}}
                  {% endif %}
              </h3>
              {% for feature_row in h.get_homepage_resource_views() | batch(2) %}
              <div class="row-fluid">
                  {% for feature in feature_row %}
                  <div class="col-md-6 ottawa-previews">
                      <div class="well">
                          <h4>{{ h.link_to(h.truncate(h.title(feature['package']['title'], h.lang()), 80), h.url_for(controller='package', action='read', id=feature['package']['name'])) }}</h4>
                          {% snippet 'package/snippets/resource_view.html',
                              resource_view = feature['resource_view'],
                              resource = feature['resource'],
                              package = feature['package']
                          %}
                      </div>
                  </div>
                  {% endfor %}
              </div>
              {% endfor %}
          </div>

          </main>
        </div>

        <div class="col-md-3">
          <div class="mrgn-lft-md panel panel-default panel-body">
            <h3 style="text-align:center;">
                {% if h.lang() == 'fr' %}
                    Recherche par groupe
                {% else %}
                    {{_('Search by Group')}}
                {% endif %}
            </h3>
            {% for group in h.groups() %}
            {% snippet "group/snippets/group_item.html", group=group, position=loop.index, loop_items=2 %}
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
