{% extends "page.html" %}

{% block content %}
  <div class="container">
    <div class="row" style="margin-right:0;">
      <div class="col-md-12 main-content">
          <main role="main" property="mainContentOfPage">

          {% block flash %}
          {% if flash_messages %}
          <div class="row">
            {% for message in flash_messages %}
            <div class="alert fade in {{ message.category }}">
              {{ h.literal(message) }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
          {% endblock flash %}

          <div class="col-md-8 col-md-offset-2 mrgn-tp-lg">
              {% for group in h.groups()[0:8] %}
              {% snippet "group/snippets/group_item.html", group=group, position=loop.index, loop_items=4 %}
              {% endfor %}
          </div>

          </div>
          </main>
      </div>
    </div>
  </div>
{% endblock %}
